textarea, select a { outline: none; }

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a:visited {
    color: #609;
}

.navBar {
    background-color: #ffffff;
    display: block;
    margin-top: 10px;
    height: 60px;
}

.navBar ul {
    margin: 0;
    padding: 0;
    border: none;
    float: right;
}

.navBar li {
    list-style: none;
    padding-right: 10px;
    display: inline-block;
    font-size: small;
}

.navBar li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    text-decoration: underline;
}


.icon-background {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.2em !important;
}

.circle_background{
  background-color: rgb(98, 98, 98);
  padding:5;
  border-radius: 50%;
  text-indent: 0px;
  text-align: center;
}

.bell-icon {
    font-size: .7em !important;
    color: #ffffff;
    position: relative;
    bottom: .1em !important;
}

.icon-Grid {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.2em;
    position: relative;
    top: .1em;
}

.icon-Grid:hover{
  color: #000000;
}

.circle_background:hover{
  background-color: #000000;
}
.image_container{
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
height: 30px;
width: 30px;
overflow:hidden;
background-color: blue;
position: relative;
top:10px;

}

.user_icon{
  display: inline-block;
   margin: 0 auto;
   height: 35px;
   width: 35px;
   right:2px;
   bottom: 2px;
   position: relative;
}

body {
    min-height: 100%;
    min-width: 550px;
}

.mainContent{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-100%);
}

.logo {
    text-align: center;
}

.logo_image {
    width: 272px;
    height: 92px;
    position: relative;
}

.searchBar {
    display: block;
    text-align: center;
    min-width: 400px;
    max-width: 484px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 38px;
    position: relative;
    box-shadow: 0px 0px 1px 1px #d7d7d7;
}

.search {
    height: 100%;
    display: inline-block;
    width: 100%;
    float: left;
    min-width: 206px;
    padding: 0px;
    border-style: none;
    font-size: medium;
    font-family: Arial, sans-serif;
    text-indent: 10px;
}

.searchBar:hover {
    box-shadow: 0px 0px 6px 1px #dfdfdf;
}


.vSSpan {
    width: 10%;
    height: 38px;
    display: inline-block;
    border: none;
    float: right;
    position: absolute;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    right:10px;
}

#voiceSearch {
    height: 25px;
    width: 25px;
    top: 6px;
    position: relative;
}

.button_Area {
    width: 45%;
    min-width: 300px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.google_Button, .lucky_Button {
    display: inline-block;
    margin: 0 4px;
    padding: 8px 16px;
    min-width: 54px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    font-family: Arial, sans-serif;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    top: 10px;
}

.google_Button:hover, .lucky_Button:hover {
    border: 1px solid rgba(199, 199, 199, 1);
    border-radius: 2px;
    color: #000000;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    background-color: #f2f2f2;
    border-top: 1px solid e4e4e4;
    padding: 0px;
    left: 0px;
    min-width: 650px;
}

.footer ul a {
    text-decoration: none;
    color: #757575;
}

.left_Buttons {
    float: left;
}

.left_Buttons li {
    list-style: none;
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-size: small;
    font-family: Arial, sans-serif;
    color:##717171;
}

.right_Buttons {
    float: right;
    display: inline-block;
}

.right_Buttons li {
    list-style: none;
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-size: small;
    font-family: Arial, sans-serif;
    color:#717171;
}
