.navBar {
    background-color: #ffffff;
    display: block;
    margin-bottom: 10px;
    height: 60px;
}

.navBar ul {
    margin: 0;
    padding: 0;
    border: none;
    float: right;
}

.navBar li {
    list-style: none;
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: small;
}

.navBar li a {
    text-decoration: none;
    color: black;
}

.icon-background {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.2em !important;
}

.bell-icon {
    font-size: .5em !important;
    color: #ffffff;
    bottom: .1em !important;
}

.icon-Grid {
    color: rgba(0, 0, 0, 0.55);
}

body{
  min-height: 100%;
}

.logo {
    max-height: 200px;
    text-align: center;
}

.logo_image {
    height: auto;
    width: 35%;
}

.searchArea {
    display: block;
    text-align: center;
}

.searchBar {
    height: auto;
    width: 40%;
    display:block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.google_Button{
  display: block;
  margin: 5px,5px ,auto;
}
