body {
    background-color: #ffffff;
}

ul {
    padding: 2px;
}

li {
    list-style: none;
    display: inline-block;
    float: right;
    padding-right: 20px;
    text-decoration: none;
    color: #00000;
    text-align: left;
    position: relative;
    font-family: ariel, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: small;
}

.logo {
    height: 233px;
    width: 273px;
    padding-top: 89px;
    display: block;
    float: center;
    position: -ms-align-self: baseline;
    align-self: baseline;
}
